.product {
    max-width: 50rem;
    width: 90%;
    margin: 2rem auto;
    animation: product-appear 1s ease-out forwards;
  }
  
  .product ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .product li{
    margin: .5rem;
  }
  
  @keyframes product-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .filter{
    display: flex;
    justify-content: space-around;
  }